{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <!-- [ Main Content ] start -->
  <!-- profile header start -->
  <div class="user-profile user-card mb-4">
    <div class="card-header border-0 p-0 pb-0">
      <div class="cover-img-block">
        <img src="{% static 'assets/images/user/cover.jpg' %}" alt="" class="img-fluid">
        <div class="overlay"></div>
        <div class="change-cover">
          <div class="dropdown">
            <a class="drp-icon dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false"><i class="icon feather icon-camera"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"><i class="feather icon-upload-cloud me-2"></i>upload
                new</a>
              <a class="dropdown-item" href="#"><i class="feather icon-image me-2"></i>from photos</a>
              <a class="dropdown-item" href="#"><i class="feather icon-film me-2"></i> upload
                video</a>
              <a class="dropdown-item" href="#"><i class="feather icon-trash-2 me-2"></i>remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="user-about-block m-0">
        <div class="row">
          <div class="col-md-4 text-center mt-n5">
            <div class="change-profile text-center">
              <div class="dropdown w-auto d-inline-block">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <div class="profile-dp">
                    <div class="position-relative d-inline-block">
                      <img class="img-radius img-fluid wid-100"
                           src="{% static 'assets/images/user/avatar-5.jpg' %}" alt="User image">
                    </div>
                    <div class="overlay">
                      <span>change</span>
                    </div>
                  </div>
                  <div class="certificated-badge">
                    <i class="fas fa-certificate text-c-blue bg-icon"></i>
                    <i class="fas fa-check front-icon text-white"></i>
                  </div>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"><i
                      class="feather icon-upload-cloud me-2"></i>upload new</a>
                  <a class="dropdown-item" href="#"><i class="feather icon-image me-2"></i>from
                    photos</a>
                  <a class="dropdown-item" href="#"><i
                      class="feather icon-shield me-2"></i>Protact</a>
                  <a class="dropdown-item" href="#"><i
                      class="feather icon-trash-2 me-2"></i>remove</a>
                </div>
              </div>
            </div>
            <h5 class="mb-1">{{ worker.first_name }} {{ worker.last_name }}</h5>
            <p class="mb-2 text-muted">{{ worker.position }}</p>
          </div>
          <div class="col-md-8 mt-md-4">
            <div class="row">
              <div class="col-md-6">
                <a href="#" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i
                    class="feather icon-globe me-2 f-18"></i>www.ittask.com</a>
                <div class="clearfix"></div>
                <a href="mailto:{{ worker.email }}"
                   class="mb-1 text-muted d-flex align-items-end text-h-primary"><i
                    class="feather icon-mail me-2 f-18"></i>{{ worker.email }}</a>
                <div class="clearfix"></div>
                <a href="#" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i
                    class="feather icon-phone me-2 f-18"></i>+1 9999-999-999</a>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <i class="feather icon-map-pin me-2 mt-1 f-18"></i>
                  <div class="media-body text-start">
                    <p class="mb-0 text-muted">4289 Calvin Street</p>
                    <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                    <p class="mb-0 text-muted">Maryland (21201)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- profile header end -->
  <!-- profile body start -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Personal details</h5>
          <a href="{% url "task_manager:worker_update" pk=worker.pk %}"
             style="text-decoration: none; color: white">
            <button type="button" class="btn btn-primary btn-sm rounded m-0 float-end">
              <i class="feather icon-edit"></i>
            </button>
          </a>

        </div>
        <div class="card-body border-top pro-det-edit collapse show" id="pro-det-edit-1">
          <form>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
              <div class="col-sm-9">
                {{ worker.first_name }} {{ worker.last_name }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Teams</label>
              <div class="col-sm-9">
                {% for team in worker.team_members.all %}
                  {{ team.name }}
                  {% if not forloop.last %}<br> {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Date Joined</label>
              <div class="col-sm-9">
                {{ worker.date_joined }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Position</label>
              <div class="col-sm-9">
                {{ worker.position }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
              <div class="col-sm-9">
                <p class="mb-0 text-muted">4289 Calvin Street</p>
                <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                <p class="mb-0 text-muted">Maryland (21201)</p>
              </div>
            </div>
          </form>
        </div>
  <!-- profile body end -->
  <!-- [ Main Content ] end -->
{% endblock content %}

