{% load i18n static %}
<ul class="nav pcoded-inner-navbar ">
  <li class="nav-item pcoded-menu-caption">
    <label>Navigation</label>
  </li>
  <li class="nav-item">
    <a href="{% url 'task_manager:index' %}" class="nav-link "><span class="pcoded-micon"><i
        class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
  </li>

  {% if request.user.is_authenticated %}
    <li class="nav-item pcoded-hasmenu">
      <a class="nav-link">
        <span class="pcoded-micon"><i class="feather icon-check-square"></i></span>
        <span class="pcoded-mtext">Tasks</span>
      </a>
      <ul class="pcoded-submenu">
        <li>
          <a class="" href="{% url "task_manager:task_list" %}">
            Task List
          </a>
        </li>
        <li>
          <a class="" href="{% url "task_manager:task_type_list" %}">
            Task Type List
          </a>
        </li>
      </ul>
    <li class="nav-item pcoded-hasmenu">
      <a class="nav-link">
        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
        <span class="pcoded-mtext">Workers</span>
      </a>
      <ul class="pcoded-submenu">
        <li>
          <a class="" href="{% url "task_manager:team_list" %}">
            Team List
          </a>
        </li>
        <li>
          <a class="" href="{% url "task_manager:worker_list" %}">
            Worker List
          </a>
        </li>
        <li>
          <a class="" href="{% url "task_manager:position_list" %}">
            Position List
          </a>
        </li>
      </ul>
    </li>
    {% else %}
    <li class="nav-item">
      <a href="{% url "login" %}" class="nav-link">
        <span class="pcoded-micon"><i class="feather icon-log-in"></i></span>
        <span class="pcoded-mtext">Login</span>
      </a>
    </li>
    </ul>
  {% endif %}